{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="{{static_url('starter-template.css')}}" crossorigin="anonymous">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/config">INOM Mirror</a>
</nav>

<div class="container config">
  <div class="alert alert-info" role="alert">
    <i class="fas fa-bell"></i> 唤醒词和敏感度的修改需重启 INOM 后才生效。
  </div>
  <label for="sensitivity">离线唤醒敏感度：<span id="sensitivitiy-value"></span> </label>
  <input type="range" class="custom-range" min="0" max="1" step="0.1" value="{{sensitivity}}" id="sensitivity">
  <br/>
  <label for="config-form">配置文件</label>
  <div id="config-placeholder">
  </div>
</div>

<script src="{{static_url('main.js')}}" crossorigin="anonymous"></script>
<script src="{{static_url('config.js')}}" crossorigin="anonymous"></script>
{% end %}
